/////////////////////////////////////////////
//			      	VARIABLES		        		 //
/////////////////////////////////////////
$primary: #9F7F4B;
$secondary: #292929;
$white: #DAD6D3;
$primary-font: 'Roboto Condensed', sans-serif;
